<header class="header">
    <figure class="header__logo">
        <img src="/assets/logo_p6.png" alt="Logo" loading="lazy" />
    </figure>
</header>

<main class="container">
    <nav>
        <button mat-icon-button (click)="back()" class="back-button">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </nav>
    <aside class="logo_mobile"></aside>
    <section class="form-wrapper">
        <app-dynamic-form [title]="'Inscription'" [formElements]="inscriptionFormElements"
            [submitLabel]="INSCRIPTION_LABEL" (formSubmit)="onFormSubmit($event)">
        </app-dynamic-form>
    </section>
</main>

@if (errorMessage) {
<app-error [errorMessage]="errorMessage" [attemptedAction]="'connexion'"></app-error>
}