.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 87px solid #555555;
    border-left: 0;
}