<app-header></app-header>
@if (isPageLoading()) {
<output class="spinner-container" aria-live="polite" aria-busy="true">
    <span class="page-spinner" aria-hidden="true"></span>
</output>
}
@else
{
<div class="topics-list">
    @if (topics(); as topics) {
    @for (topic of topics; track topic.id) {
    <div class="topic-card">
        <div class="topic-title">{{ topic.name }}</div>
        <div class="topic-content">
            {{ topic.description | slice:0:220 }}
            @if (topic.description && topic.description.length > 220) {
            <span>...</span>
            }
        </div>
        <button mat-raised-button color="primary" (click)="toggleTopicSubscription(topic.id)">
            @if (isSubscribed(topic.id)) {
            <span>se désabonner</span>
            }
            @else {
            <span>s'abonner</span>
            }
        </button>
    </div>
    }
    }
</div>
}