<div class="topics-list">
    @if (topics$ | async; as topics) {
    @for (topic of topics; track topic.id) {
    <div class="topic-card">
        <div class="topic-title">{{ topic.name }}</div>
        <div class="topic-content">
            {{ topic.description | slice:0:220 }}
            @if (topic.description && topic.description.length > 220) {
            <span>...</span>
            }
        </div>
        <button mat-raised-button color="primary" (click)="toggleTopicSubscription(topic.id)">
            @if (isSubscribed(topic.id)) {
            <span>se désabonner</span>
            }
            @else {
            <span>s'abonner</span>
            }
        </button>
    </div>
    }
    }
</div>