.article-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    gap: 1.5rem;

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        margin-left: 4rem;
        margin-right: 4rem;

        .create-btn,
        .sort-select {
            width: 66vw;
            max-width: 66vw;
            min-width: unset;
        }
    }
}

.create-btn,
.sort-select {
    min-width: 180px;
}